body {
  margin: 0px;
}

/* Define the grid */
.container {
  display: grid;
  grid-template-columns: 85px 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

/* Define the sub grid */
#nestedcontainer {
  grid-column: 2;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 1em;
}

/* Define the sub grid */
#nestedcontainer2 {
  grid-column: 2;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 1em;
}

/* CSS for Sidebar */
#sidebar {
  grid-column: 1;
  grid-row: 1;
  background: gray;
  height: 100vh;
  position: sticky;
}

#btnstyle1 {
  height: 100px;
  width: 100%;
  border-width: 0px;
  background-color: maroon;
}

button {
  cursor: pointer;
}

#home {
  width: 100%
}

#btnstyle2 {
  height: 80px;
  width: 100%;
  background-color: gray;
  border-width: 0px;
  color: white;
}

#btnstyle2:hover {
  background-color: rgb(37, 36, 36);
}

img {
  width: 70%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 100px;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 15px 15px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav h3 {
    padding: 8px 8px 20px 32px;
    font-size: 25px;
    text-decoration: underline;
}

.sidenav a:hover {
  color: gray;
  text-decoration: underline;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* CSS for Sidebar 2 */
#sidebar2 {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  width: 0;
  position: sticky;
  padding-left: 10px;
}

#sidebar2 a {
  padding-bottom: 20px;
  font-size: 16px;
  display: block;
  transition: 0.3s;
}

#sidebar2 p {
   font-size: 31px;
   margin-bottom: 100px;
}

/* CSS for Sidebar 3 */
#sidebar3 {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  width: 80%;
  position: sticky;
  padding-left: 10px;
}

#sidebar3 a {
  padding-bottom: 20px;
  font-size: 16px;
  display: block;
  transition: 0.3s;
}

#sidebar3 p {
   font-size: 31px;
   margin-bottom: 100px;
}

#btnstyle3 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  padding: calc(.4rem - 0.5px) calc(0.7rem - 0.5px);
  justify-content: center;
  width: 130px;
}

/* CSS for Classes section */
#classes {
  grid-column: 2;
} 

.class p {
   font-size: 31px;
}

.class_icon {
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  width: 262px;
  display: inline-block;
  vertical-align: top;
  margin: 36px 0 0 36px;
}

.class_icon_header_hero {
   background-color: rgb(152, 108, 22);
   box-sizing: border-box;
   height: 146px;
   border: 1px solid rgba(0,0,0,.1);
}

a {
   color: rgb(0, 0, 255, 0.8);
   text-decoration: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.class_icon_header_content {
   box-sizing: border-box;
   padding: 12px 18px 0;
   background: white;
}

.class_icon_header_title {
   padding: 0;
   margin: 0;
   line-height: 1.3;
   font-size: 0.875rem;
   font-weight: bold;
}

.class_icon_header_subtitle {
   line-height: 1.3;
   padding: 0;
   margin-top: 4px;
}

.class_icon_term {
   line-height: 1.3;
   font-size: 12px;
   height: 1rem;
   margin-bottom: 10px;
}

/* CSS for Profile section */

#accounthome {
  grid-column: 2;
  grid-row: 1;
  position: sticky;
  padding-top: 148px;
}

#profile {
  grid-column: 2;
  grid-row: 1;
  position: sticky;
  padding-top: 148px;
}

/* CSS for Password section */

#passwordsec {
  grid-column: 2;
  grid-row: 1;
  position: sticky;
  padding-top: 148px;
}

/* CSS for Password section */

#security {
  grid-column: 2;
  grid-row: 1;
  position: sticky;
  padding-top: 148px;
}

/* CSS for Usersearch section */

#usersearch {
  grid-column: 2;
  grid-row: 1;
  position: sticky;
  padding-top: 148px;
}

/* CSS for Usersearch section */

#userlist {
  grid-column: 2;
  grid-row: 1;
  position: sticky;
  padding-top: 148px;
}


/* CSS for Create Course section */

#create_course {
  grid-column: 2;
  grid-row: 1;
  position: sticky;
  padding-top: 148px;
}

#create_course a {
  font-size: 15px;
  color: #000000;
}

/* CSS for Announcements section */

#announcements {
  grid-column: 2;
  grid-row: 1;
  position: sticky;
  padding-top: 148px;
}

#top_border {
  border-top: 1px solid #808080;
}

/* CSS for Announcement section */

#announcement {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 80px;
  border-bottom: 1px solid #808080;
  padding-top: 5px;
  padding-bottom: 5px;
}

#announcement a {
  padding-top: 5px;
  padding-bottom: 18px;
  color: black;
}

/* CSS for Announcement Detail section */

#announcement_ds {
  display: grid;
  grid-template-rows: fit-content(800px);
  border: 1px solid grey;
  margin-top: 150px;
  margin-bottom: 200px;
  padding-left: 15px;
}

#announcement_ds a {
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* CSS for Create Announcement section */

#create_announcement {
  position: sticky;
  padding-top: 148px;
}

#create_announcement a {
  color: black;
}

/* CSS for Grades section */

#grades {
  grid-column: 2;
  grid-row: 1;
  position: sticky;
  padding-top: 148px;
}

#top_border {
  border-top: 1px solid #808080;
}

/* CSS for Grade section */

#grade {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 100px;
  border-bottom: 1px solid #808080;
  padding-top: 22px;
  padding-bottom: 5px;
}

#grade a {
  padding-bottom: 18px;
  color: black;
}

#btnstyle4 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 13px;
  justify-content: center;
  width: 100px;
}

/* CSS for Input Grade section */

#inputgrade {
  grid-column: 2;
  grid-row: 1;
  position: sticky;
  padding-top: 148px;
}

/* CSS for Assignments2 section */

#assignments2 {
  grid-column: 2;
  grid-row: 1;
  position: sticky;
  padding-top: 148px;
}

#top_border {
  border-top: 1px solid #808080;
}

/* CSS for Assignment section */

#assignment {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 100px;
  border-bottom: 1px solid #808080;
  padding-top: 22px;
  padding-bottom: 5px;
}

#assignment a {
  padding-bottom: 18px;
  color: black;
}

#btnstyle4 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 13px;
  justify-content: center;
  width: 100px;
}

/* CSS for Input Assignment section */

#inputassignment {
  grid-column: 2;
  grid-row: 1;
  position: sticky;
  padding-top: 148px;
}

/* CSS for Assignments section */

#assignments {
  grid-column: 3;
  display: flex;
  flex-flow: column wrap;
  padding: 1em;
  justify-content: flex-start;
}

#assignments li {
  padding-left: 25px;
  padding-bottom: 10px;
  line-height: 100%;
  list-style: none;
  background-image: url('./imgs/assignment.png');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: left center;
}

.assignments_logo img {
  width: 50%;
}

.assignment_title {
  font-size: 20px;
}

.assignment_title hr {
  height: 1px;
  background-color: lightgray;
  border: none;
  margin-left: 0;
  width: 33%;
}

@media only screen and (max-width: 750px) {
.container{
  display: flex;
  flex-wrap: row wrap;
  /* grid-template-columns: 1fr; */
}

#nestedcontainer {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
}

#sidebar {
  height: 10vh;
}

#btnstyle1 {
  height: 80px;
  border-width: 0px;
  background-color: maroon;
}

#sidebar_button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#sidebar2 {
  grid-column: 1;
  grid-row: 1;
  height: 125px;
  width: 0;
  position: sticky;
  padding-left: 10px;
}

#sidebar2 a {
  padding-bottom: 10px;
  font-size: 16px;
  display: block;
  transition: 0.3s;
}

#sidebar2 p {
   margin-bottom: 0px;
}

.sidenav {
  left: 0px;
}

.sidenav a {
  font-size: 15px;
  padding: 0px 0px 15px 0px;
}

#classes {
  grid-column: 1;
} 

#create_course {
  grid-column: 1;
  grid-row: 2;
  padding-top: 58px;
}

#announcements {
  grid-column: 1;
  grid-row: 2;
}

#announcement {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  padding-top: 0px;
  padding-bottom: 0px;
}

#announcement a {
  padding-top: 10px;
  grid-column: 1;
}

#announcement_ds {
  grid-column: 1;
  grid-row: 2;
}

#create_announcement {
  grid-column: 1;
  grid-row: 2;
  padding-top: 0px;
}

#create_announcement a {
  color: black;
}

#assignments2 {
  grid-column: 1;
  grid-row: 2;
  padding-top: 150px;
  padding-bottom: 0px;
  grid-column: 1;
}

#assignment {
  /* grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  padding-top: 100px;
  padding-bottom: 10px; */
  grid-column: 1;
}

#assignment a {
  /* padding-top: 10px; */
  grid-column: 1;
}

#inputassignment {
  grid-column: 1;
  grid-row: 2;
  padding-top: 0px;
}

p {
  width: 100%;
}

#grades {
  grid-column: 1;
  grid-row: 2;
  padding-top: 150px;
}

#grade {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  padding-top: 10px;
  padding-bottom: 10px;
}

#grade a {
  padding-bottom: 18px;
  grid-column: 1;
}

#inputgrade {
  grid-column: 1;
  grid-row: 2;
  padding-top: 0px;
}

}